body {
    color: black;
    font-family: Tahoma, Geneva, sans-serif;
}
.striped {
    background: repeating-linear-gradient(
        45deg,
        #aa1d85,
        #aa1d85 20px,
        #b7b7b7 20px,
        #b7b7b7 40px
    );
}
.next-up {
    font-size: normal;
}
.title {
    font-size: x-large;
    display: block;
}
.speaker {
    font-size: small;
    color: darkgray;
}
.row {
    width: 100%;
    height: 45%;
}
.tile {
    background: white;
}
.center {
    text-align: center;

    position: relative;
    top: 25%;
    transform: translateY(50%);
}

.accent {
    color: #FF2BC7;
}
.uppercase {
    text-transform: uppercase;
}
